<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100">
<div> <img src="./CodersHQ-Logo1.png"  alt="..." />
</div>

<div class="mx-4">

    <div class="text-5xl font-extrabold ...">
  <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
    Leaderboard
  </span> <br>
    </div>

        <table class="border-separate border border-slate-400 min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                  <th class="border">Ambassadors Name</th>
                  <th class="border">Email</th>
                  <th class="border">Points</th>
                </tr>
              </thead>
              <tbody class="text-center text-sm" id="table-body">
                  {% include 'partials/table.html' %}
              </tbody>
        </table>

        <button class="px-3 py-1 bg-blue-600 text-white ml-4"
                hx-get="/api/leaderboard/"
                hx-trigger="load"
                hx-target="#app"
                hx-swap="innerHTML">Refresh</button>

</div>
</body>
</html>

